---
title: Home
description: Title of the workshop or conference
image: /images/san_marco_night.jpg
bottom_image: http://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Title of the workshop or conference</h1>
			<p class="subtext editable">FirstDay-LastDay Month YEAR</p>
			<div class="cta button alt"><a href="https://registration-link.com" target="_blank">Register</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Introductory paragraph</h2>
				<p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur commodo feugiat. Quisque consequat mattis ornare. Mauris consequat nisl posuere, pharetra est at, gravida est. Vivamus at tempus nisl. Maecenas sagittis justo lacus, sit amet laoreet ligula hendrerit quis. Morbi aliquet sem consectetur sagittis tincidunt. Donec in ante quam. Nam eleifend ullamcorper lacus, vitae posuere dui porttitor nec. Pellentesque eu placerat leo, tincidunt dapibus velit.

				Maecenas vel ex sed sapien gravida finibus. Donec blandit volutpat elit, id sodales orci. Praesent mattis tristique dapibus. Donec vitae laoreet massa. Mauris mattis lorem sed pellentesque efficitur. Nunc convallis congue consectetur. Vestibulum bibendum scelerisque erat, auctor fringilla elit ultrices ut. Etiam est quam, gravida id dui nec, mollis sollicitudin augue.

				Nam pulvinar in ex quis ullamcorper. Mauris eu felis ex. Vivamus ut nibh vitae tellus faucibus accumsan in vel mi. Fusce congue ornare ex, ac sagittis elit finibus eget. Donec rhoncus, justo nec commodo condimentum, leo mi vestibulum nibh, tristique malesuada velit libero non nulla. Nunc non semper neque, quis vestibulum mi. Sed eu eros dolor. Curabitur id sem porttitor, scelerisque lectus non, mollis quam. Fusce laoreet cursus hendrerit. Phasellus at pellentesque justo. </p>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">About</h2>
				<p class="editable">Etiam volutpat non magna quis lobortis. Donec ultrices risus at mauris pulvinar dignissim. Praesent pretium, sem eget pharetra pretium, est urna semper lacus, nec blandit purus ligula a dui. Donec lacinia turpis neque, ut dictum orci blandit vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras interdum egestas nunc, eget rhoncus justo dapibus eget. Nam nulla lorem, commodo eu erat sit amet, scelerisque volutpat magna. Integer non elit lectus. Pellentesque id lacus erat. Maecenas hendrerit tellus nisl, ut sollicitudin risus sodales in. Mauris ut cursus arcu.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/palazzo_franchetti.jpg" alt="Palazzo Franchetti" />
			</div>
		</div>
	</section>


	<!--<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Where</h2>
				<h3 class="editable">Venetian Institute of Sciences, Letters and Arts</h3>
				<p class="editable">In recent years, a fast development of different quantum hardware, theoretical models and numerical tools has been achieved, which pave the way to unprecedented investigations in quantum science, and in particular in the study of out of equilibrium many-body processes. However, the new challenges call for different expertise that has to be merged: from the theoretical and experimental or numerical knowledge to the theoretical understanding of the system to be simulated. It is then important that experts from different perspectives talk together, exchange ideas providing open problems to be attacked and new ideas for possible platforms where questions can be answered.  Following the success of the first three editions, the fourth edition of this workshop aims to consolidate a new community of actors working together in this exciting interdisciplinary field.</p>
			</div>
		</div>
	</section>-->
</div>
