---
title: Home
description: COnTaMiNeuro
image: /images/san_marco_night.jpg
bottom_image: http://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Summer School in Computational and Theoretical Models in Neuroscience </h1>
			<p class="subtext editable">9-14 September 2019</p>
			<div class="cta button alt"><a href="registration">Register</a></div>
			<!--<div class="cta button alt"><a href="https://apex.cca.unipd.it/pls/apex/f?p=308:2:::NO:2:P_MERCHID,P_LANG:108,USA">Fee payment</a></div>-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">School Goals</h2>
				<p class="editable">Approaches and techniques from Physics, Mathematics and Computational Science are increasingly becoming critical for understanding and modelling the brain, and also for designing and interpreting experiments. Modeling is an essential tool to cut through the vast complexity of neurobiological systems and their many interacting elements.
The course teaches the central ideas, methods, and practices of modern computational neuroscience through a combination of lectures, seminars and Tutorials project work. Students will also work on research projects in teams of 3-4 people under close supervision of expert tutors and faculty. Research projects are proposed by faculty before the course, and include data analyses and the development of theories to explain experimental observations.
This school is designed for graduate students and postdoctoral fellows that are expected to have a keen interest and basic background in neurobiology, a solid foundation in mathematics and physics, as well as some computing experience. </div>
			<div class="image">
				<img class="editable" src="images/neural-wiring.png" alt="Neural Wiring" />
			</div>
		</div>
	</section>


	<!--<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Where</h2>
				<h3 class="editable">Venetian Institute of Sciences, Letters and Arts</h3>
				<p class="editable">In recent years, a fast development of different quantum hardware, theoretical models and numerical tools has been achieved, which pave the way to unprecedented investigations in quantum science, and in particular in the study of out of equilibrium many-body processes. However, the new challenges call for different expertise that has to be merged: from the theoretical and experimental or numerical knowledge to the theoretical understanding of the system to be simulated. It is then important that experts from different perspectives talk together, exchange ideas providing open problems to be attacked and new ideas for possible platforms where questions can be answered.  Following the success of the first three editions, the fourth edition of this workshop aims to consolidate a new community of actors working together in this exciting interdisciplinary field.</p>
			</div>
		</div>
	</section>-->
</div>
