---
title: Program
description: Program of the conference.
image: /images/canal_grande_rialto.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Program</h1>
			<p class="subtext editable">Schedule of the conference</p>
		</div>
	</div>
</section>

<!--
<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_speakers" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.speakers %}
				<li>-->
					<!--<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>-->
					<!--
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>-->

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Schedule</h2>
				<p>The preliminary program of the conference is now available. You can either <a href="../files/Final_program_CQS19.pdf" download>download it</a> or find it below:</p>
				<embed src="/files/Final_program_CQS19.pdf" type="application/pdf" width="100%" height="800px" />
			</div>
		</div>
	</section>

<!--
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Abstract booklet</h2>
				<p>The abstract booklet is still unavailable.</p>
			</div>
		</div>
	</section>
-->

</div>
