---
title: Program
description: Program of the conference.
image: /images/canal_grande_rialto.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Program</h1>
			<p class="subtext editable">Schedule of the conference</p>
		</div>
	</div>
</section>

<!--
<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_speakers" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.speakers %}
				<li>-->
					<!--<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>-->
					<!--
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>-->


<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Topics</h2>
				<ul>
  				<li>Neural dynamics</li>
  				<li>Whole brain modelling</li>
  				<li>Statistical physics approach to neuroscience</li>
					<li>Information processing</li>
					<li>Coding and perception in neural systems</li>
					<li>Machine Learning and Neural Networks</li>
					<li>Functional Connectivity</li>
					<li>Structural networks</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">School Structure and Content</h2>
				<p class="editable">The school is structured over 6 days, from Monday to Saturday. 
					The main lectures we will address four different topics: 
					1) Neural dynamics: modelling; 2) Information processing, coding and perception in neural systems;
					3) From human learning to machine learning and back; 4) Structural and functional networks in the brain.
					Each topic will include frontal lectures, tutorials and hands on projects (see Table below). 
					A series of four seminars will complete each lessons showing the state of the art of related research on 
					that topic. </p>
		 </div>
	</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Program</h2>
				<p>The preliminary program of the conference is now available</a>:</p>
				<iframe src="../files/FINAL_PROGRAM_Contamineuro.pdf" width="100%" height="800px"></iframe>
			</div>
		</div>
	</section>

<!--
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Abstract booklet</h2>
				<p>The abstract booklet is still unavailable.</p>
			</div>
		</div>
	</section>
-->

</div>
