---
title: Venue and logistics
description: How to get to the conference.
image: /images/canal_grande_franchetti.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Venue and logistics</h1>
			<p class="subtext editable">How to get to the conference</p>
		</div>
	</div>
</section>

<div class="content">
<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Venue</h2>
				<h3 class="editable">ECLT: European Center of Living Technology/h3>
				<p class="editable">The conference will be held at Cà Bottacin, Venezia. The address of the venue is:</p>
				<p align="center">
					Calle Crosera, <br>
					 3911, 30123 Venezia VE <br>
					<a href="https://www.unive.it/pag/10109/</a></b> 
				</p>
						 <h2 class="editable">Thursday the School will be in Malcanton Marcorà @CaFascori. Please google it to reach the room</h2>
			</div>
			<div class="image">
				<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=12.323345794575289%2C45.4342963857013%2C12.328098668949679%2C45.436381800095745&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/45.43534/12.32572&amp;layers=N">View Larger Map</a></small>
				<p></small><a href="https://www.google.com/maps/place/Ca'+Bottacin/@45.4355803,12.3254485,18z/data=!3m1!4b1!4m5!3m4!1s0x477eb1cf655a48d5:0xa71fdde9466a35b2!8m2!3d45.4355784!4d12.3265428">Open in Google Maps</a></small></p>
			</div>
		</div>
</section>


<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">How to get to the conference</h2>
			<h3 class="editable">From the airport to the city</h3>
			<p class="editable">The "Marco Polo" Venice airport is on the mainland, around 5km north of Venice. The city can be easily reached by water bus, shuttle bus or taxi. More information available on the <a href="http://www.veniceairport.it/en/transport/venice.html" target="_blank">airport website</a>.</p>
			<p class="editable">Venice can also be reached easily from the "A. Canova" Treviso airport by bus. More information available on the <a href="http://www.trevisoairport.it/en/transport/venezia-santa-lucia-station.html" target="_blank">airport website</a>.</p>

		<h3 class="editable">From Piazzale Roma or Santa Lucia train station</h3>
		<p class="editable">University of Venice Ca Fascori is easily reachable from walk (15 minutes) or by boat (line 4.2 from piazzale Roma)</p>
	</div>
		<div class="image">
				<img class="editable" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Aerial_view_Venice_07_2017_4995.jpg/1920px-Aerial_view_Venice_07_2017_4995.jpg" alt="Aerial view of Venice" />
	 </div>
	</div>
</section>


	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Accomodation</h2>
				<p class="editable">There are many hotels nearby the location (here some suggestions), but we strongly suggest to reserve your accommodation in advance<br>
				<ul>
  				<li><a href="https://www.tripadvisor.it/Hotel_Review-g187870-d575216-Reviews-Domus_Ciliota-Venice_Veneto.html" target="_blank">Domus Ciliota</a></li>
					<li><a href="https://www.nh-hotels.com/hotel/nh-venezia-rio-novo" target="_blank">NH Rio Novo</a></li>
					<li><a href="http://angelibb.com/EN/rooms.html#" target="_blank">Residenza degli Angeli</a></li>
					<li><a href="http://www.aitreponti.com/" target="_blank">Ai Tre pointi</a></li>
					<li><a href="http://www.leterese.com/" target="_blank">B&B Le Terese</a></li>
				</ul>
			</p>
			</div>
			<div class="text">
				<h2 class="editable">Nearby restaurants</h2>
				<h3 class="editable">(in random order)</h3>
				<ul>
  				<li><a href="http://www.tripadvisor.it/Restaurant_Review-g187870-d2446917-Reviews-Pizzeria_Sansovino-Venice_Veneto.html" target="_blank">Pizzeria Sansovino</a></li>
					<li><a href="https://www.aitrearchivenezia.it/" target="_blank">Ai tre archi pizzeria</a></li>
					<li><a href="ttps://www.tripadvisor.it/Restaurant_Review-g187870-d8360870-Reviews-Trattoria_Dalla_Marisa-Venice_Veneto.html" target="_blank">Trattoria da Marisa</a></li>
					<li><a href="http://www.tripadvisor.it/Restaurant_Review-g187870-d6786843-Reviews-Fuori_Menu_Rio_Santissimo-Venice_Veneto.html" target="_blank">Fuori Menu Rio Santissimo</a></li>
					<li><a href="http://www.tripadvisor.it/Restaurant_Review-g187870-d4874582-Reviews-Gelateria_Al_Teatro-Venice_Veneto.html" target="_blank">Gelateria Al Teatro</a> (ice cream)</li>
				</ul>
			</div>
			<div class="text">
				<h2 class="editable">Social activities</h2>
				<p class="editable"><ul>
					<li><b>Monday (September 9th) evening</b>: Social Poster session
					<li><b>Wednsday (September 11th) evening</b>: Social dinner 
					<li><b>Friday (September 13th) evening</b>: Aperitif (spritz) and evening lecture @ECLT
					<li><b>Saturday afternoon (September 14th) afternoon</b>: Guided visit in Venice (to be booked)
				</ul></p>
			</div>
		</div>
	</section>




	<!--<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Where</h2>
				<h3 class="editable">Venetian Institute of Sciences, Letters and Arts</h3>
				<p class="editable">In recent years, a fast development of different quantum hardware, theoretical models and numerical tools has been achieved, which pave the way to unprecedented investigations in quantum science, and in particular in the study of out of equilibrium many-body processes. However, the new challenges call for different expertise that has to be merged: from the theoretical and experimental or numerical knowledge to the theoretical understanding of the system to be simulated. It is then important that experts from different perspectives talk together, exchange ideas providing open problems to be attacked and new ideas for possible platforms where questions can be answered.  Following the success of the first three editions, the fourth edition of this workshop aims to consolidate a new community of actors working together in this exciting interdisciplinary field.</p>
			</div>
		</div>
	</section>-->
</div>
